## 1.Import Library

In [1]:
import pandas as pd
import numpy as np

# Data Viz library
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## 2.Read Data

In [2]:
Weather = pd.read_csv("weatherAUS.csv")

#Show first 5 rows
Weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [3]:
feature00=Weather.drop(columns = ["RainTomorrow"])
feature00.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No

In [4]:
feature00.shape

(145460, 22)

In [5]:
feature01=feature00.drop_duplicates()
feature01.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No

In [6]:
feature01.shape

(145460, 22)

In [7]:
feature01.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
dtype: object

In [8]:
# แปลง Date ที่เป็น object ให้เป็น Datetime
feature01['Date'] = pd.to_datetime(feature01['Date'])
feature01.dtypes

Date             datetime64[ns]
Location                 object
MinTemp                 float64
MaxTemp                 float64
Rainfall                float64
Evaporation             float64
Sunshine                float64
WindGustDir              object
WindGustSpeed           float64
WindDir9am               object
WindDir3pm               object
WindSpeed9am            float64
WindSpeed3pm            float64
Humidity9am             float64
Humidity3pm             float64
Pressure9am             float64
Pressure3pm             float64
Cloud9am                float64
Cloud3pm                float64
Temp9am                 float64
Temp3pm                 float64
RainToday                object
dtype: object

In [9]:
feature01.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday'],
      dtype='object')

In [10]:
#Missing Value
feature01.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
dtype: int64

## Fix Missing Value

In [11]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['MinTemp'].median()

def MinTemp  (x):
     if pd.isnull(x):
        return feature01['MinTemp'].median()
     else:
        return x
    
feature01['MinTemp'] = feature01['MinTemp'].apply(MinTemp)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp           True
Rainfall          True
Evaporation       True
Sunshine          True
WindGustDir       True
WindGustSpeed     True
WindDir9am        True
WindDir3pm        True
WindSpeed9am      True
WindSpeed3pm      True
Humidity9am       True
Humidity3pm       True
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [12]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['MaxTemp'].median()

def MaxTemp   (x):
     if pd.isnull(x):
        return feature01['MaxTemp'].median()
     else:
        return x
    
feature01['MaxTemp'] = feature01['MaxTemp'].apply(MaxTemp)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall          True
Evaporation       True
Sunshine          True
WindGustDir       True
WindGustSpeed     True
WindDir9am        True
WindDir3pm        True
WindSpeed9am      True
WindSpeed3pm      True
Humidity9am       True
Humidity3pm       True
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [13]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['Rainfall'].median()

def Rainfall  (x):
     if pd.isnull(x):
        return feature01['Rainfall'].median()
     else:
        return x
    
feature01['Rainfall'] = feature01['Rainfall'].apply(Rainfall)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation       True
Sunshine          True
WindGustDir       True
WindGustSpeed     True
WindDir9am        True
WindDir3pm        True
WindSpeed9am      True
WindSpeed3pm      True
Humidity9am       True
Humidity3pm       True
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [14]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['Evaporation'].median()

def Evaporation   (x):
     if pd.isnull(x):
        return feature01['Evaporation'].median()
     else:
        return x
    
feature01['Evaporation'] = feature01['Evaporation'].apply(Evaporation)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine          True
WindGustDir       True
WindGustSpeed     True
WindDir9am        True
WindDir3pm        True
WindSpeed9am      True
WindSpeed3pm      True
Humidity9am       True
Humidity3pm       True
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [15]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['Sunshine'].median()

def Sunshine  (x):
     if pd.isnull(x):
        return feature01['Sunshine'].median()
     else:
        return x
    
feature01['Sunshine'] = feature01['Sunshine'].apply(Sunshine)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir       True
WindGustSpeed     True
WindDir9am        True
WindDir3pm        True
WindSpeed9am      True
WindSpeed3pm      True
Humidity9am       True
Humidity3pm       True
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [16]:
# นับความถี่ของ Quality ที่แยกเป็น "loyal"& "churn" 

pd.value_counts(feature01['WindGustDir'], sort=True)

W      9915
SE     9418
N      9313
SSE    9216
E      9181
S      9168
WSW    9069
SW     8967
SSW    8736
WNW    8252
NW     8122
ENE    8104
ESE    7372
NE     7133
NNW    6620
NNE    6548
Name: WindGustDir, dtype: int64

In [17]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['WindGustDir'].value_counts()

def impute_WindGustDir(x):
    if pd.isnull(x):
         return 'W'
    else:
         return x
feature01['WindGustDir']  = feature01['WindGustDir'].apply(impute_WindGustDir)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed     True
WindDir9am        True
WindDir3pm        True
WindSpeed9am      True
WindSpeed3pm      True
Humidity9am       True
Humidity3pm       True
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [18]:
pd.value_counts(feature01['WindGustDir'], sort=True)

W      20241
SE      9418
N       9313
SSE     9216
E       9181
S       9168
WSW     9069
SW      8967
SSW     8736
WNW     8252
NW      8122
ENE     8104
ESE     7372
NE      7133
NNW     6620
NNE     6548
Name: WindGustDir, dtype: int64

In [19]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['WindGustSpeed'].median()

def WindGustSpeed   (x):
     if pd.isnull(x):
        return feature01['WindGustSpeed'].median()
     else:
        return x
    
feature01['WindGustSpeed'] = feature01['WindGustSpeed'].apply(WindGustSpeed)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am      True
WindSpeed3pm      True
Humidity9am       True
Humidity3pm       True
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [20]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['WindSpeed9am'].median()

def WindSpeed9am  (x):
     if pd.isnull(x):
        return feature01['WindSpeed9am'].median()
     else:
        return x
    
feature01['WindSpeed9am'] = feature01['WindSpeed9am'].apply(WindSpeed9am)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am     False
WindSpeed3pm      True
Humidity9am       True
Humidity3pm       True
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [21]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['WindSpeed3pm'].median()

def WindSpeed3pm  (x):
     if pd.isnull(x):
        return feature01['WindSpeed3pm'].median()
     else:
        return x
    
feature01['WindSpeed3pm'] = feature01['WindSpeed3pm'].apply(WindSpeed3pm)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am       True
Humidity3pm       True
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [22]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['Humidity9am'].median()

def Humidity9am   (x):
     if pd.isnull(x):
        return feature01['Humidity9am'].median()
     else:
        return x
    
feature01['Humidity9am'] = feature01['Humidity9am'].apply(Humidity9am)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm       True
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [23]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['Humidity3pm'].median()

def Humidity3pm    (x):
     if pd.isnull(x):
        return feature01['Humidity3pm'].median()
     else:
        return x
    
feature01['Humidity3pm'] = feature01['Humidity3pm'].apply(Humidity3pm)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [24]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['Pressure9am'].median()

def Pressure9am  (x):
     if pd.isnull(x):
        return feature01['Pressure9am'].median()
     else:
        return x
    
feature01['Pressure9am'] = feature01['Pressure9am'].apply(Pressure9am)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [25]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['Pressure3pm'].median()

def Pressure3pm   (x):
     if pd.isnull(x):
        return feature01['Pressure3pm'].median()
     else:
        return x
    
feature01['Pressure3pm'] = feature01['Pressure3pm'].apply(Pressure3pm)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [26]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['Cloud9am'].median()

def Cloud9am    (x):
     if pd.isnull(x):
        return feature01['Cloud9am'].median()
     else:
        return x
    
feature01['Cloud9am'] = feature01['Cloud9am'].apply(Cloud9am)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am         False
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [27]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['Cloud3pm'].median()

def Cloud3pm     (x):
     if pd.isnull(x):
        return feature01['Cloud3pm'].median()
     else:
        return x
    
feature01['Cloud3pm'] = feature01['Cloud3pm'].apply(Cloud3pm)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am         False
Cloud3pm         False
Temp9am           True
Temp3pm           True
RainToday         True
dtype: bool

In [28]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['Temp9am'].median()

def Temp9am     (x):
     if pd.isnull(x):
        return feature01['Temp9am'].median()
     else:
        return x
    
feature01['Temp9am'] = feature01['Temp9am'].apply(Temp9am)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am         False
Cloud3pm         False
Temp9am          False
Temp3pm           True
RainToday         True
dtype: bool

In [29]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['Temp3pm'].median()

def Temp3pm     (x):
     if pd.isnull(x):
        return feature01['Temp3pm'].median()
     else:
        return x
    
feature01['Temp3pm'] = feature01['Temp3pm'].apply(Temp3pm)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am         False
Cloud3pm         False
Temp9am          False
Temp3pm          False
RainToday         True
dtype: bool

In [30]:
# นับความถี่ของ RainToday ที่แยกเป็น "No"& "Yes" 

pd.value_counts(feature01['RainToday'], sort=True)

No     110319
Yes     31880
Name: RainToday, dtype: int64

In [31]:
# Fill in the "holes"
# Or remove the holes if the missing data is more than 20% of the data
# Fill in categorial data with the most occurring category
feature01['RainToday'].value_counts()

def impute_RainToday(x):
    if pd.isnull(x):
         return 'No'
    else:
         return x
feature01['RainToday']  = feature01['RainToday'].apply(impute_RainToday)

# sns.heatmap(loan.isnull(), yticklabels=False, cbar=False, cmap='viridis')
feature01.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am         False
Cloud3pm         False
Temp9am          False
Temp3pm          False
RainToday        False
dtype: bool

In [32]:
# นับความถี่ของ RainToday ที่แยกเป็น "No"& "Yes" 

pd.value_counts(feature01['RainToday'], sort=True)

No     113580
Yes     31880
Name: RainToday, dtype: int64

In [33]:
#Missing Value
feature01.isna().sum()

Date                 0
Location             0
MinTemp              0
MaxTemp              0
Rainfall             0
Evaporation          0
Sunshine             0
WindGustDir          0
WindGustSpeed        0
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am         0
WindSpeed3pm         0
Humidity9am          0
Humidity3pm          0
Pressure9am          0
Pressure3pm          0
Cloud9am             0
Cloud3pm             0
Temp9am              0
Temp3pm              0
RainToday            0
dtype: int64

In [34]:
feature02=feature01.drop(columns = ["WindGustDir","WindDir9am","WindDir3pm"])
feature02.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2008-12-01,Albury,13.4,22.9,0.6,4.8,8.4,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,5.0,16.9,21.8,No
1,2008-12-02,Albury,7.4,25.1,0.0,4.8,8.4,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,5.0,5.0,17.2,24.3,No
2,2008-12-03,Albury,12.9,25.7,0.0,4.8,8.4,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,5.0,2.0,21.0,23.2,No
3,2008-12-04,Albury,9.2,28.0,0.0,4.8,8.4,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,5.0,5.0,18.1,26.5,No
4,2008-12-05,Albury,17.5,32.3,1.0,4.8,8.4,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No

In [35]:
feature02.shape

(145460, 19)

In [36]:
feature02.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm',
       'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am',
       'Cloud3pm', 'Temp9am', 'Temp3pm', 'RainToday'],
      dtype='object')

In [38]:
feature02.shape

(145460, 19)

In [39]:
feature02.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm',
       'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am',
       'Cloud3pm', 'Temp9am', 'Temp3pm', 'RainToday'],
      dtype='object')

In [40]:
feature02.dtypes

Date             datetime64[ns]
Location                 object
MinTemp                 float64
MaxTemp                 float64
Rainfall                float64
Evaporation             float64
Sunshine                float64
WindGustSpeed           float64
WindSpeed9am            float64
WindSpeed3pm            float64
Humidity9am             float64
Humidity3pm             float64
Pressure9am             float64
Pressure3pm             float64
Cloud9am                float64
Cloud3pm                float64
Temp9am                 float64
Temp3pm                 float64
RainToday                object
dtype: object

In [41]:
feature02=feature02.drop(columns = ['Location'])
feature02.head()

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2008-12-01,13.4,22.9,0.6,4.8,8.4,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,5.0,16.9,21.8,No
1,2008-12-02,7.4,25.1,0.0,4.8,8.4,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,5.0,5.0,17.2,24.3,No
2,2008-12-03,12.9,25.7,0.0,4.8,8.4,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,5.0,2.0,21.0,23.2,No
3,2008-12-04,9.2,28.0,0.0,4.8,8.4,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,5.0,5.0,18.1,26.5,No
4,2008-12-05,17.5,32.3,1.0,4.8,8.4,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No

In [42]:
feature02.dtypes

Date             datetime64[ns]
MinTemp                 float64
MaxTemp                 float64
Rainfall                float64
Evaporation             float64
Sunshine                float64
WindGustSpeed           float64
WindSpeed9am            float64
WindSpeed3pm            float64
Humidity9am             float64
Humidity3pm             float64
Pressure9am             float64
Pressure3pm             float64
Cloud9am                float64
Cloud3pm                float64
Temp9am                 float64
Temp3pm                 float64
RainToday                object
dtype: object

In [43]:
feature02.shape

(145460, 18)

In [44]:
feature03 = feature02.set_index(feature02.Date).drop(columns = ["Date"])
feature03.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
Date,,,,,,,,,,,,,,,,,
2008-12-01,13.4,22.9,0.6,4.8,8.4,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,5.0,16.9,21.8,No
2008-12-02,7.4,25.1,0.0,4.8,8.4,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,5.0,5.0,17.2,24.3,No
2008-12-03,12.9,25.7,0.0,4.8,8.4,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,5.0,2.0,21.0,23.2,No
2008-12-04,9.2,28.0,0.0,4.8,8.4,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,5.0,5.0,18.1,26.5,No
2008-12-05,17.5,32.3,1.0,4.8,8.4,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No

In [45]:
feature03.shape

(145460, 17)

In [46]:
feature04 = feature03.drop(columns = ["RainToday"])
feature04.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
Date,,,,,,,,,,,,,,,,
2008-12-01,13.4,22.9,0.6,4.8,8.4,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,5.0,16.9,21.8
2008-12-02,7.4,25.1,0.0,4.8,8.4,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,5.0,5.0,17.2,24.3
2008-12-03,12.9,25.7,0.0,4.8,8.4,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,5.0,2.0,21.0,23.2
2008-12-04,9.2,28.0,0.0,4.8,8.4,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,5.0,5.0,18.1,26.5
2008-12-05,17.5,32.3,1.0,4.8,8.4,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7

In [47]:
feature04.shape

(145460, 16)

In [48]:
y = feature03["RainToday"]

In [49]:
y.shape

(145460,)

In [50]:
y.value_counts()

No     113580
Yes     31880
Name: RainToday, dtype: int64

In [51]:
y.head()

Date
2008-12-01    No
2008-12-02    No
2008-12-03    No
2008-12-04    No
2008-12-05    No
Name: RainToday, dtype: object

In [54]:
X = feature04

In [55]:
X.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
Date,,,,,,,,,,,,,,,,
2008-12-01,13.4,22.9,0.6,4.8,8.4,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,5.0,16.9,21.8
2008-12-02,7.4,25.1,0.0,4.8,8.4,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,5.0,5.0,17.2,24.3
2008-12-03,12.9,25.7,0.0,4.8,8.4,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,5.0,2.0,21.0,23.2
2008-12-04,9.2,28.0,0.0,4.8,8.4,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,5.0,5.0,18.1,26.5
2008-12-05,17.5,32.3,1.0,4.8,8.4,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7

In [61]:
X.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm'],
      dtype='object')

## Model Random Forest

## แบ่ง Train Test Split

In [56]:
# นำเข้า train test split function

from sklearn.model_selection import train_test_split

In [57]:
# ใช้วิธี Hold out แบ่ง Test 20 และ Train 70

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=101,stratify = y)

## สร้าง Model

In [58]:
from sklearn.ensemble import RandomForestClassifier# ตั้งชื่อตัวแบบว่า "rf" ให้สุ่ม 500 trees

rf = RandomForestClassifier(n_estimators = 500)

In [59]:
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [60]:
rf.feature_importances_

#Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
      # 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
      # 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
      # 'Temp9am', 'Temp3pm'],
      # dtype='object')

array([0.0091724 , 0.0086934 , 0.8613028 , 0.00243193, 0.00368685,
       0.00543908, 0.00239156, 0.00093264, 0.04573488, 0.02823302,
       0.00940869, 0.00261742, 0.00822559, 0.00134967, 0.00295771,
       0.00742236])

In [62]:
y_pred = rf.predict(X_test)

In [63]:
from sklearn.metrics import classification_report

In [64]:
# สั่งพิมพ์รายงาน ค่าการวัดผล และประสิทธิภาพการทำนายของตัวแบบ

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          No       1.00      1.00      1.00     22716
         Yes       1.00      1.00      1.00      6376

    accuracy                           1.00     29092
   macro avg       1.00      1.00      1.00     29092
weighted avg       1.00      1.00      1.00     29092

In [65]:
Prediction = pd.DataFrame(y_pred, columns = ["Prediction"], index = X_test.index)
Prediction.head()

           Prediction
Date
2009-01-20         No
2012-11-05         No
2017-02-07         No
2016-08-11        Yes
2011-07-05         No

In [66]:
y_test

Date
2009-01-20     No
2012-11-05     No
2017-02-07     No
2016-08-11    Yes
2011-07-05     No
2011-11-22     No
2013-03-10     No
2013-10-03     No
2016-07-03     No
2015-01-01     No
2009-07-07    Yes
2015-11-21     No
2011-01-24     No
2010-07-03     No
2009-07-20     No
2014-02-18     No
2014-07-30     No
2017-04-11     No
2014-03-14     No
2016-02-12     No
2010-11-08    Yes
2013-01-10     No
2015-01-26     No
2010-10-18     No
2015-09-04     No
2009-04-30     No
2017-05-14     No
2010-05-05     No
2010-12-05     No
2015-03-11     No
             ...
2012-06-19    Yes
2011-05-24     No
2016-12-27    Yes
2009-05-07    Yes
2014-10-24     No
2009-04-30     No
2011-01-11     No
2016-04-30     No
2013-05-24     No
2010-12-23     No
2008-09-15    Yes
2013-11-05     No
2014-11-10     No
2012-09-02     No
2012-08-25     No
2012-03-20    Yes
2013-04-16    Yes
2013-08-09    Yes
2016-02-19     No
2016-01-09     No
2017-03-11     No
2016-04-30    Yes
2016-07-03     No
2009-06-20     No
2017-03-17     No
2015-06-10     No
2016-09-24     No
2011-11-07     No
2016-02-11     No
2016-09-15     No
Name: RainToday, Length: 29092, dtype: object

In [67]:
result = pd.concat([y_test,Prediction], axis = 1)
result

           RainToday Prediction
Date
2009-01-20        No         No
2012-11-05        No         No
2017-02-07        No         No
2016-08-11       Yes        Yes
2011-07-05        No         No
2011-11-22        No         No
2013-03-10        No         No
2013-10-03        No         No
2016-07-03        No         No
2015-01-01        No         No
2009-07-07       Yes        Yes
2015-11-21        No         No
2011-01-24        No         No
2010-07-03        No         No
2009-07-20        No         No
2014-02-18        No         No
2014-07-30        No         No
2017-04-11        No         No
2014-03-14        No         No
2016-02-12        No         No
2010-11-08       Yes        Yes
2013-01-10        No         No
2015-01-26        No         No
2010-10-18        No         No
2015-09-04        No         No
2009-04-30        No         No
2017-05-14        No         No
2010-05-05        No         No
2010-12-05        No         No
2015-03-11        No         No
...              ...        ...
2012-06-19       Yes        Yes
2011-05-24        No         No
2016-12-27       Yes        Yes
2009-05-07       Yes        Yes
2014-10-24        No         No
2009-04-30        No         No
2011-01-11        No         No
2016-04-30        No         No
2013-05-24        No         No
2010-12-23        No         No
2008-09-15       Yes        Yes
2013-11-05        No         No
2014-11-10        No         No
2012-09-02        No         No
2012-08-25        No         No
2012-03-20       Yes        Yes
2013-04-16       Yes        Yes
2013-08-09       Yes        Yes
2016-02-19        No         No
2016-01-09        No         No
2017-03-11        No         No
2016-04-30       Yes        Yes
2016-07-03        No         No
2009-06-20        No         No
2017-03-17        No         No
2015-06-10        No         No
2016-09-24        No         No
2011-11-07        No         No
2016-02-11        No         No
2016-09-15        No         No

[29092 rows x 2 columns]

## Save & Load Model

In [70]:
result.to_csv("weatherPrediction.csv")

In [71]:
import pickle
# Dump Model
file = open("model_dumped.pkl", "wb")
pickle.dump(rf, file)

In [72]:
# Loaded Model
file = open("model_dumped.pkl", "rb")
model_loaded = pickle.load(file)

In [73]:
model_loaded.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [74]:
#Using loaded model to predict
model_loaded.predict(X_test)

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [75]:
y_pred2=model_loaded.predict(X_test)

In [76]:
Prediction2 = pd.DataFrame(y_pred2, columns = ["Prediction2"])
Prediction2.head()

  Prediction2
0          No
1          No
2          No
3         Yes
4          No