In [18]:
import pandas as pd
import numpy as np

# Data Viz library
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [19]:
Churn = pd.read_excel('Churn_Modeling.xlsx', sheet_name = 'Train')

# ดูข้อมูล head 5 บรรทัดแรก

Churn.head()

,RowNumber,CustomerId,Surname,Geography,Gender,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,France,Female,619,42,2,0.00,1,1,1,101348.88,leave
1,2,15647311,Hill,Spain,Female,608,41,1,83807.86,1,0,1,112542.58,stay
2,3,15619304,Onio,France,Female,502,42,8,159660.80,3,1,0,113931.57,leave
3,4,15701354,Boni,France,Female,699,39,1,0.00,2,0,0,93826.63,stay
4,5,15737888,Mitchell,Spain,Female,850,43,2,125510.82,1,1,1,79084.10,stay

In [46]:
Churn

,RowNumber,CustomerId,Surname,Geography,Gender,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,France,Female,619,42,2,0.00,1,1,1,101348.88,leave
1,2,15647311,Hill,Spain,Female,608,41,1,83807.86,1,0,1,112542.58,stay
2,3,15619304,Onio,France,Female,502,42,8,159660.80,3,1,0,113931.57,leave
3,4,15701354,Boni,France,Female,699,39,1,0.00,2,0,0,93826.63,stay
4,5,15737888,Mitchell,Spain,Female,850,43,2,125510.82,1,1,1,79084.10,stay
5,6,15574012,Chu,Spain,Male,645,44,8,113755.78,2,1,0,149756.71,leave
6,7,15592531,Bartlett,France,Male,822,50,7,0.00,2,1,1,10062.80,stay
7,8,15656148,Obinna,Germany,Female,376,29,4,115046.74,4,1,0,119346.88,leave
8,9,15792365,He,France,Male,501,44,4,142051.07,2,0,1,74940.50,stay
9,10,15592389,H?,France,Male,684,27,2,134603.88,1,1,1,71725.73,stay
10,11,15767821,Bearce,France,Male,528,31,6,102016.72,2,0,0,80181.12,stay
11,12,15737173,Andrews,Spain,Male,497,24,3,0.00,2,1,0,76390.01,stay
12,13,15632264,Kay,France,Female,476,34,10,0.00,2,1,0,26260.98,stay
13,14,15691483,Chin,France,Female,549,25,5,0.00,2,0,0,190857.79,stay
14,15,15600882,Scott,Spain,Female,635,35,7,0.00,2,1,1,65951.65,stay
15,16,15643966,Goforth,Germany,Male,616,45,3,143129.41,2,0,1,64327.26,stay
16,17,15737452,Romeo,Germany,Male,653,58,1,132602.88,1,1,0,5097.67,leave
17,18,15788218,Henderson,Spain,Female,549,24,9,0.00,2,1,1,14406.41,stay
18,19,15661507,Muldrow,Spain,Male,587,45,6,0.00,1,0,0,158684.81,stay
19,20,15568982,Hao,France,Female,726,24,6,0.00,2,1,1,54724.03,stay
20,21,15577657,McDonald,France,Male,732,41,8,0.00,2,1,1,170886.17,stay
21,22,15597945,Dellucci,Spain,Female,636,32,8,0.00,2,1,0,138555.46,stay
22,23,15699309,Gerasimov,Spain,Female,510,38,4,0.00,1,1,0,118913.53,leave
23,24,15725737,Mosman,France,Male,669,46,3,0.00,2,0,1,8487.75,stay
24,25,15625047,Yen,France,Female,846,38,5,0.00,1,1,1,187616.16,stay
25,26,15738191,Maclean,France,Male,577,25,3,0.00,2,0,1,124508.29,stay
26,27,15736816,Young,Germany,Male,756,36,2,136815.64,1,1,1,170041.95,stay
27,28,15700772,Nebechi,France,Male,571,44,9,0.00,2,0,0,38433.35,stay
28,29,15728693,McWilliams,Germany,Female,574,43,3,141349.43,1,1,1,100187.43,stay
29,30,15656300,Lucciano,France,Male,411,29,0,59697.17,2,1,1,53483.21,stay
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,9971,15587133,Thompson,France,Male,518,42,7,151027.05,2,1,0,119377.36,stay
9971,9972,15721377,Chou,France,Female,833,34,3,144751.81,1,0,0,166472.81,stay
9972,9973,15747927,Ch'in,France,Male,758,26,4,155739.76,1,1,0,171552.02,stay
9973,9974,15806455,Miller,France,Male,611,27,7,0.00,2,1,1,157474.10,stay
9974,9975,15695474,Barker,France,Male,583,33,7,122531.86,1,1,0,13549.24,stay
9975,9976,15666295,Smith,Germany,Male,610,50,1,113957.01,2,1,0,196526.55,leave
9976,9977,15656062,Azikiwe,France,Female,637,33,7,103377.81,1,1,0,84419.78,stay
9977,9978,15579969,Mancini,France,Female,683,32,9,0.00,2,1,1,24991.92,stay
9978,9979,15703563,P'eng,France,Male,774,40,9,93017.47,2,1,0,191608.97,stay
9979,9980,15692664,Diribe,France,Female,677,58,1,90022.85,1,0,1,2988.28,stay
9980,9981,15719276,T'ao,Spain,Male,741,35,6,74371.49,1,0,0,99595.67,stay
9981,9982,15672754,Burbidge,Germany,Male,498,42,3,152039.70,1,1,1,53445.17,leave
9982,9983,15768163,Griffin,Germany,Female,655,46,7,137145.12,1,1,0,115146.40,leave
9983,9984,15656710,Cocci,France,Male,613,40,4,0.00,1,0,0,151325.24,stay
9984,9985,15696175,Echezonachukwu,Germany,Male,602,35,7,90602.42,2,1,1,51695.41,stay
9985,9986,15586914,Nepean,France,Male,659,36,6,123841.49,2,1,0,96833.00,stay
9986,9987,15581736,Bartlett,Germany,Male,673,47,1,183579.54,2,0,1,34047.54,stay
9987,9988,15588839,Mancini,Spain,Male,606,30,8,180307.73,2,1,1,1914.41,stay
9988,9989,15589329,Pirozzi,France,Male,775,30,4,0.00,2,1,0,49337.84,stay
9989,9990,15605622,McMillan,Spain,Male,841,28,4,0.00,2,1,1,179436.60,stay
9990,9991,15798964,Nkemakonam,Germany,Male,714,33,3,35016.60,1,1,0,53667.08,stay
9991,9992,15769959,Ajuluchukwu,France,Female,597,53,4,88381.21,1,1,0,69384.71,leave
9992,9993,15657105,Chukwualuka,Spain,Male,726,36,2,0.00,1,1,0,195192.40,stay
9993,9994,15569266,Rahman,France,Male,644,28,7,155060.41,1,1,0,29179.52,stay
9994,9995,15719294,Wood,France,Female,800,29,2,0.00,2,0,0,167773.55,stay
9995,9996,15606229,Obijiaku,France,Male,771,39,5,0.00,2,1,0,96270.64,stay
9996,9997,15569892,Johnstone,France,Male,516,35,10,57369.61,1,1,1,101699.77,stay
9997,9998,15584532,Liu,France,Female,709,36,7,0.00,1,0,1,42085.58,leave
9998,9999,15682355,Sabbatini,Germany,Male,772,42,3,75075.31,2,1,0,92888.52,leave
9999,10000,15628319,Walker,France,Female,792,28,4,130142.79,1,1,0,38190.78,stay

In [20]:
Churn.replace([np.inf, -np.inf], np.nan)

Churn.isnull().any() # function check ค่าว่าง ถ้ามีค่าว่าง return true

RowNumber          False
CustomerId         False
Surname            False
Geography          False
Gender             False
CreditScore        False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [21]:
X = Churn.drop('Exited',axis=1)
y = Churn['Exited']

In [22]:
X.head()

,RowNumber,CustomerId,Surname,Geography,Gender,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,15634602,Hargrave,France,Female,619,42,2,0.00,1,1,1,101348.88
1,2,15647311,Hill,Spain,Female,608,41,1,83807.86,1,0,1,112542.58
2,3,15619304,Onio,France,Female,502,42,8,159660.80,3,1,0,113931.57
3,4,15701354,Boni,France,Female,699,39,1,0.00,2,0,0,93826.63
4,5,15737888,Mitchell,Spain,Female,850,43,2,125510.82,1,1,1,79084.10

In [45]:
X

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,...,Surname_Zubarev,Surname_Zubareva,Surname_Zuev,Surname_Zuyev,Surname_Zuyeva,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,1,15634602,619,42,2,0.00,1,1,1,101348.88,...,0,0,0,0,0,1,0,0,1,0
1,2,15647311,608,41,1,83807.86,1,0,1,112542.58,...,0,0,0,0,0,0,0,1,1,0
2,3,15619304,502,42,8,159660.80,3,1,0,113931.57,...,0,0,0,0,0,1,0,0,1,0
3,4,15701354,699,39,1,0.00,2,0,0,93826.63,...,0,0,0,0,0,1,0,0,1,0
4,5,15737888,850,43,2,125510.82,1,1,1,79084.10,...,0,0,0,0,0,0,0,1,1,0
5,6,15574012,645,44,8,113755.78,2,1,0,149756.71,...,0,0,0,0,0,0,0,1,0,1
6,7,15592531,822,50,7,0.00,2,1,1,10062.80,...,0,0,0,0,0,1,0,0,0,1
7,8,15656148,376,29,4,115046.74,4,1,0,119346.88,...,0,0,0,0,0,0,1,0,1,0
8,9,15792365,501,44,4,142051.07,2,0,1,74940.50,...,0,0,0,0,0,1,0,0,0,1
9,10,15592389,684,27,2,134603.88,1,1,1,71725.73,...,0,0,0,0,0,1,0,0,0,1
10,11,15767821,528,31,6,102016.72,2,0,0,80181.12,...,0,0,0,0,0,1,0,0,0,1
11,12,15737173,497,24,3,0.00,2,1,0,76390.01,...,0,0,0,0,0,0,0,1,0,1
12,13,15632264,476,34,10,0.00,2,1,0,26260.98,...,0,0,0,0,0,1,0,0,1,0
13,14,15691483,549,25,5,0.00,2,0,0,190857.79,...,0,0,0,0,0,1,0,0,1,0
14,15,15600882,635,35,7,0.00,2,1,1,65951.65,...,0,0,0,0,0,0,0,1,1,0
15,16,15643966,616,45,3,143129.41,2,0,1,64327.26,...,0,0,0,0,0,0,1,0,0,1
16,17,15737452,653,58,1,132602.88,1,1,0,5097.67,...,0,0,0,0,0,0,1,0,0,1
17,18,15788218,549,24,9,0.00,2,1,1,14406.41,...,0,0,0,0,0,0,0,1,1,0
18,19,15661507,587,45,6,0.00,1,0,0,158684.81,...,0,0,0,0,0,0,0,1,0,1
19,20,15568982,726,24,6,0.00,2,1,1,54724.03,...,0,0,0,0,0,1,0,0,1,0
20,21,15577657,732,41,8,0.00,2,1,1,170886.17,...,0,0,0,0,0,1,0,0,0,1
21,22,15597945,636,32,8,0.00,2,1,0,138555.46,...,0,0,0,0,0,0,0,1,1,0
22,23,15699309,510,38,4,0.00,1,1,0,118913.53,...,0,0,0,0,0,0,0,1,1,0
23,24,15725737,669,46,3,0.00,2,0,1,8487.75,...,0,0,0,0,0,1,0,0,0,1
24,25,15625047,846,38,5,0.00,1,1,1,187616.16,...,0,0,0,0,0,1,0,0,1,0
25,26,15738191,577,25,3,0.00,2,0,1,124508.29,...,0,0,0,0,0,1,0,0,0,1
26,27,15736816,756,36,2,136815.64,1,1,1,170041.95,...,0,0,0,0,0,0,1,0,0,1
27,28,15700772,571,44,9,0.00,2,0,0,38433.35,...,0,0,0,0,0,1,0,0,0,1
28,29,15728693,574,43,3,141349.43,1,1,1,100187.43,...,0,0,0,0,0,0,1,0,1,0
29,30,15656300,411,29,0,59697.17,2,1,1,53483.21,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,9971,15587133,518,42,7,151027.05,2,1,0,119377.36,...,0,0,0,0,0,1,0,0,0,1
9971,9972,15721377,833,34,3,144751.81,1,0,0,166472.81,...,0,0,0,0,0,1,0,0,1,0
9972,9973,15747927,758,26,4,155739.76,1,1,0,171552.02,...,0,0,0,0,0,1,0,0,0,1
9973,9974,15806455,611,27,7,0.00,2,1,1,157474.10,...,0,0,0,0,0,1,0,0,0,1
9974,9975,15695474,583,33,7,122531.86,1,1,0,13549.24,...,0,0,0,0,0,1,0,0,0,1
9975,9976,15666295,610,50,1,113957.01,2,1,0,196526.55,...,0,0,0,0,0,0,1,0,0,1
9976,9977,15656062,637,33,7,103377.81,1,1,0,84419.78,...,0,0,0,0,0,1,0,0,1,0
9977,9978,15579969,683,32,9,0.00,2,1,1,24991.92,...,0,0,0,0,0,1,0,0,1,0
9978,9979,15703563,774,40,9,93017.47,2,1,0,191608.97,...,0,0,0,0,0,1,0,0,0,1
9979,9980,15692664,677,58,1,90022.85,1,0,1,2988.28,...,0,0,0,0,0,1,0,0,1,0
9980,9981,15719276,741,35,6,74371.49,1,0,0,99595.67,...,0,0,0,0,0,0,0,1,0,1
9981,9982,15672754,498,42,3,152039.70,1,1,1,53445.17,...,0,0,0,0,0,0,1,0,0,1
9982,9983,15768163,655,46,7,137145.12,1,1,0,115146.40,...,0,0,0,0,0,0,1,0,1,0
9983,9984,15656710,613,40,4,0.00,1,0,0,151325.24,...,0,0,0,0,0,1,0,0,0,1
9984,9985,15696175,602,35,7,90602.42,2,1,1,51695.41,...,0,0,0,0,0,0,1,0,0,1
9985,9986,15586914,659,36,6,123841.49,2,1,0,96833.00,...,0,0,0,0,0,1,0,0,0,1
9986,9987,15581736,673,47,1,183579.54,2,0,1,34047.54,...,0,0,0,0,0,0,1,0,0,1
9987,9988,15588839,606,30,8,180307.73,2,1,1,1914.41,...,0,0,0,0,0,0,0,1,0,1
9988,9989,15589329,775,30,4,0.00,2,1,0,49337.84,...,0,0,0,0,0,1,0,0,0,1
9989,9990,15605622,841,28,4,0.00,2,1,1,179436.60,...,0,0,0,0,0,0,0,1,0,1
9990,9991,15798964,714,33,3,35016.60,1,1,0,53667.08,...,0,0,0,0,0,0,1,0,0,1
9991,9992,15769959,597,53,4,88381.21,1,1,0,69384.71,...,0,0,0,0,0,1,0,0,1,0
9992,9993,15657105,726,36,2,0.00,1,1,0,195192.40,...,0,0,0,0,0,0,0,1,0,1
9993,9994,15569266,644,28,7,155060.41,1,1,0,29179.52,...,0,0,0,0,0,1,0,0,0,1
9994,9995,15719294,800,29,2,0.00,2,0,0,167773.55,...,0,0,0,0,0,1,0,0,1,0
9995,9996,15606229,771,39,5,0.00,2,1,0,96270.64,...,0,0,0,0,0,1,0,0,0,1
9996,9997,15569892,516,35,10,57369.61,1,1,1,101699.77,...,0,0,0,0,0,1,0,0,0,1
9997,9998,15584532,709,36,7,0.00,1,0,1,42085.58,...,0,0,0,0,0,1,0,0,1,0
9998,9999,15682355,772,42,3,75075.31,2,1,0,92888.52,...,0,0,0,0,0,0,1,0,0,1
9999,10000,15628319,792,28,4,130142.79,1,1,0,38190.78,...,0,0,0,0,0,1,0,0,1,0

In [23]:
y.head()

0    leave
1     stay
2    leave
3     stay
4     stay
Name: Exited, dtype: object

In [24]:
X = pd.get_dummies(X, columns=['Surname', 'Geography','Gender'])
X.head()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,...,Surname_Zubarev,Surname_Zubareva,Surname_Zuev,Surname_Zuyev,Surname_Zuyeva,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,1,15634602,619,42,2,0.00,1,1,1,101348.88,...,0,0,0,0,0,1,0,0,1,0
1,2,15647311,608,41,1,83807.86,1,0,1,112542.58,...,0,0,0,0,0,0,0,1,1,0
2,3,15619304,502,42,8,159660.80,3,1,0,113931.57,...,0,0,0,0,0,1,0,0,1,0
3,4,15701354,699,39,1,0.00,2,0,0,93826.63,...,0,0,0,0,0,1,0,0,1,0
4,5,15737888,850,43,2,125510.82,1,1,1,79084.10,...,0,0,0,0,0,0,0,1,1,0

In [25]:
from imblearn.over_sampling import SMOTE

In [26]:
# random_state คือ ชุดเลขสุ่ม หากต้องการผลเหมือนกัน ให้ระบุ 101 
# การกำหนด ratio = 1.0 คือให้ สุ่มเพิ่มจำนวนในแต่ละคลาสให้เท่ากัน

SM = SMOTE(random_state=101,sampling_strategy='auto')

X_res, y_res = SM.fit_sample(X, y)

In [27]:
# แสดงจำนวนก่อนสุ่ม OverSampling

print("Before OverSampling, counts 'leave': {}".format(sum(y== "leave")))
print("Before OverSampling, counts 'stay': {} ".format(sum(y== "stay")))

Before OverSampling, counts 'leave': 2037
Before OverSampling, counts 'stay': 7963

In [29]:
# แสดงจำนวนหลังสุ่ม OverSampling

print("After OverSampling, counts 'leave': {}".format(sum(y_res == "leave")))
print("After OverSampling, counts 'stay': {} ".format(sum(y_res == "stay")))

After OverSampling, counts 'leave': 7963
After OverSampling, counts 'stay': 7963

In [30]:
# นำเข้า train test split function

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=0.30, random_state=55)

In [31]:
# Voting Ensemble for Classification
import pandas
from sklearn import model_selection
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier


# create the sub models
model1 = DecisionTreeClassifier()
model2 = KNeighborsClassifier(n_neighbors = 1)
model3 = LogisticRegression()
model4 = RandomForestClassifier(max_features = 11, random_state = 55)

model = VotingClassifier(estimators=[('DT', model1), ('Knn', model2)
                                    , ('LG', model3),('RF',model4)], voting='hard')
model.fit(X_train,y_train)
model.score(X_test,y_test)

C:\Python Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Python Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.8717036416910842

In [32]:
# ทำนายค่ากับชุด X_test

pred = model.predict(X_test)

In [33]:
# นำเข้า classification report และ confusion matrix

from sklearn.metrics import classification_report, confusion_matrix

In [34]:
# สั่งพิมพ์รายงาน ค่าการวัดผล และประสิทธิภาพการทำนายของตัวแบบ และค่าใน confusion matrix

print(classification_report(y_test, pred))
print('\n')
print(confusion_matrix(y_test, pred))

              precision    recall  f1-score   support

       leave       0.82      0.94      0.88      2366
        stay       0.94      0.80      0.86      2412

    accuracy                           0.87      4778
   macro avg       0.88      0.87      0.87      4778
weighted avg       0.88      0.87      0.87      4778



[[2235  131]
 [ 482 1930]]

In [35]:
def find_error_classification(y_test, pred):
    N = y_test.shape[0]
    error = (100/N)*(y_test!= pred).sum()
    return error

In [36]:
error_Test =find_error_classification(y_test, pred)

In [37]:
error_Test

12.829635830891588

In [38]:
# แปลงค่า array ของผล pred ให้เป็น DataFrame
# ตั้งชื่อ columns ว่า 'Predict'

columns_new = ['Predict']

# pass in array and columns
prediction = pd.DataFrame(pred, columns=columns_new)
prediction.head()

  Predict
0    stay
1   leave
2   leave
3    stay
4    stay

In [39]:
y_test

array(['stay', 'leave', 'leave', ..., 'leave', 'leave', 'leave'],
      dtype=object)

In [42]:
# แปลงค่า array ของผล pred ให้เป็น DataFrame
# ตั้งชื่อ columns ว่า 'Predict'

columns_new = ['Ytest']

# pass in array and columns
Ytest = pd.DataFrame(y_test, columns=columns_new)
Ytest.head()

   Ytest
0   stay
1  leave
2  leave
3   stay
4   stay

In [43]:
result = pd.concat([Ytest,prediction], axis = 1)
result

      Ytest Predict
0      stay    stay
1     leave   leave
2     leave   leave
3      stay    stay
4      stay    stay
5     leave   leave
6     leave   leave
7      stay   leave
8      stay    stay
9     leave   leave
10    leave   leave
11     stay    stay
12     stay    stay
13     stay    stay
14     stay    stay
15    leave   leave
16    leave   leave
17    leave   leave
18     stay    stay
19    leave    stay
20    leave   leave
21    leave   leave
22    leave   leave
23    leave   leave
24    leave   leave
25     stay    stay
26     stay    stay
27    leave   leave
28    leave   leave
29    leave   leave
...     ...     ...
4748  leave   leave
4749   stay   leave
4750  leave   leave
4751  leave    stay
4752   stay   leave
4753  leave   leave
4754   stay    stay
4755   stay    stay
4756  leave   leave
4757  leave   leave
4758  leave   leave
4759   stay    stay
4760   stay    stay
4761  leave   leave
4762   stay    stay
4763  leave   leave
4764  leave   leave
4765   stay    stay
4766  leave   leave
4767  leave   leave
4768   stay    stay
4769   stay    stay
4770  leave   leave
4771  leave    stay
4772   stay   leave
4773   stay    stay
4774   stay    stay
4775  leave   leave
4776  leave   leave
4777  leave   leave

[4778 rows x 2 columns]

In [44]:
result.to_excel('Churnnew_Predict.xlsx',sheet_name='Sheet1',index=False)